<%= content_for :navigation do %>
  <div class="c-accent fsxs text-center">
    <%= link_to root_path do %>
      <table>
        <tr>
          <td>
            <i class="fa fa-caret-left fsm"></i>
          </td>
          <td class="plxs">
            Back to Jewelry Feed
          </td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>
<%= content_for :content do %>
  <div class="row nmhxs">
    <div class="col-sm-10 phxs">
      <div id="about" class="mtl">
        <div class="fsxs fwl">
          ABOUT
        </div>
        <div class="mtxxxs fsxs c-1 lhs">
          <b>HK Studio</b> was established in 2004 and has been serving the film, tv and commercial industries ever since. We are a rental only business located in West Hollywood. We have a vast collection of jewelry spanning the decades; from the late 1800’s through the 1990’s, including jewelry from Africa and character pieces from several genres. We have been collecting jewelry, including choice eyeglasses and accessories, for over 30 years and continue to do so, with an eye towards “principal” pieces. It has always been our desire to have a photo database of our vast collection, but we have taken that idea a few steps further and have created the HK Studio rentals website where designers and stylists can carefully choose pieces and complete a rental transaction 24/7, from anywhere in the world. As always, you can schedule an appointment and visit us at our studio in West Hollywood.
        </div>
      </div>
      <div class="mtl bss bwts bc-2"></div>
      <div id="terms" class="mtl">
        <div class="fsxs fwl">
          TERMS
        </div>
        <div class="mtxxxs fsxs c-1 lhs">
          Below are standard rental agreements, however, we can work with you to accommodate your scheduling and rental needs. We are ever mindful of budgets of all sizes, and will do our best to work within your budget. Prices and length of production are negotiable depending on the size of a rental selection.
        </div>
      </div>
      <div class="mtl">
        <div class="fsxs fwl">
          PRODUCTION RENTAL (PR)
        </div>
        <div class="mtxxxs fsxs c-1 lhs">
          A production rental is for a period of 12 weeks
        </div>
      </div>
      <div class="mtl">
        <div class="fsxs fwl">
          SHORT TERM RENTAL (SR)
        </div>
        <div class="mtxxxs fsxs c-1 lhs">
          A short term rental is for a period of 2 weeks
        </div>
      </div>
      <div class="mtl">
        <div class="fsxs fwl">
          LOSS/DAMAGE
        </div>
        <div class="mtxxxs fsxs c-1 lhs">
          Damage fees will be assessed at up to ten (10) times the cost of the production rental price. Any item not returned will be considered lost and will be charged at a maximum rate of ten (10) times the production rental price.
        </div>
      </div>
    </div>
  </div>
<% end %>
