<%= content_for :navigation do %>
  <div class="c-accent fsxs text-center">
    <%= link_to root_path do %>
      <table>
        <tr>
          <td>
            <i class="fa fa-caret-left fsm"></i>
          </td>
          <td class="plxs">
            Back to Jewelry
          </td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>
<%= content_for :content do %>
  <div class="row nmhxs">
    <div class="col-sm-10 phxs">
      <div id="terms" class="mtl">
        <%= Editable.where(name: "Terms").last.text.html_safe %>
      </div>
    </div>
  </div>
<% end %>
