<%= content_for :navigation do %>
  <div class="c-accent fsxs text-center">
    <%= link_to root_path do %>
      <table>
        <tr>
          <td>
            <i class="fa fa-caret-left fsm"></i>
          </td>
          <td class="plxs">
            Back to Jewelry Feed
          </td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>
<%= content_for :content do %>
  <div class="mtl">
    <div class="c-2">
      Thank you for requesting to rent from HK Studio. We will contact you shortly about your order.
    </div>
    <div class="mtxs">
      <%= link_to "Continue Browsing...", root_path, class: "c-accent" %>
    </div>
  </div>
<% end %>
