<div class="row nmhxs">
  <div class="col-lg-8 phxs">
    <table class="full-width">
      <tr>
        <td class="fsxl">
          Category: <%= @category.name %>
        </td>
        <td class="text-right">
          <%= link_to "Edit", edit_admin_category_path(@category), class: "btn btn-primary" %>
        </td>
      </tr>
    </table>
    <div class="row nmhxs">
      <div class="col-sm-3 phxs mtm">
        Tags:
      </div>
      <div class="col-sm-9 phxs mtm">
        <% @category.tags.each do |tag| %>
          <div>
            <%= tag.name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
