<div class="row nmhxs">
  <div class="col-lg-6 phxs">
    <table class="full-width">
      <tr>
        <td class="c-1 fsm">
          Active Products
        </td>
        <td class="pll">
          <div class="pull-right">
            <% if @active_products_count > 0 %>
              <%= link_to @active_products_count, active_admin_products_path, class: "btn btn-primary pan dam lhm fsm" %>
            <% else %>
              <div class="dam bg-2 c-4 lhm fsm text-center">
                0
              </div>
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="ptl c-1 fsm">
          Inactive Products
        </td>
        <td class="ptl pll">
          <div class="pull-right">
            <% if @inactive_products_count > 0 %>
              <%= link_to @inactive_products_count, inactive_admin_products_path, class: "btn btn-primary pan dam lhm fsm" %>
            <% else %>
              <div class="dam bg-2 c-4 lhm fsm text-center">
                0
              </div>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
